
.white-text-fill, .login-btn, .heading, .toggle-button, .menu-logo, .table-view, .delete-btn, .add-btn, .edit-btn, .cancel-btn {
    -fx-text-fill: white;
}

.red-text-fill, .error-label-text-color{
    -fx-text-fill: red;
}

.blue-background, .separator .line, .toggle-button{
    -fx-background-color: black;
}

.sky-blue-background, .login-btn, .add-btn {
    -fx-background-color: #0e6eb0;
}

.heading {
    -fx-font-size: 30;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 7px;
}

.password-field, .text-field {
    -fx-max-width: 200;
}

.btn-settings, .toggle-button, .delete-btn, .add-btn, .edit-btn, .cancel-btn, .login-btn {
    -fx-min-width: 120;
    -fx-font-size: 14;
}

.menu-logo {
    -fx-font-size: 17;
}

.table-cell {
    -fx-border-width: 0px;
}

.button:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.red-background, .delete-btn {
    -fx-background-color: red;
}

.red-border {
    -fx-border-color: red;
}

.green-border {
    -fx-border-color: rgb(0, 201, 87);
}

.grey-background, .cancel-btn, .edit-btn, .toggle-button:selected {
    -fx-background-color: grey;
}

.table-view {
}

.delete-btn {

}

.error-label-text-color{}


.edit-btn {
}

.cancel-btn {
}

.add-btn {
}

.toggle-button {
}

.login-btn {
}


/**
.table-view .column-header {
    -fx-border-width: 0 2 2 0;
    -fx-border-color: black, transparent;
    -fx-background-color: white;
}

.table-row-cell {
    -fx-border-color: grey;
   -fx-background-color: white;
    -fx-border-width: 0 0 1 0;
}

/** alert box ************/
.dialog-pane {
    -fx-border-color: black;
    -fx-border-width: 2px;
}