.btn {
    -fx-background-color: #0d78c5;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-max-width: 130;
}

.bleu-background {
    -fx-background-color: #0e6eb0;
}

.heading {
    -fx-text-fill: white;
    -fx-font-size: 30;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-color: #602424;
    -fx-border-width: 7px;
}

.password-field, .text-field {
    -fx-max-width: 200;
}

.toggle-button {
    -fx-min-width: 120;
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.menu-logo {
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.table-view {
    -fx-border-color: white;
}

.table-cell {
    -fx-border-width: 0px;
}

.blue-btn{
    -fx-background-color: blue;
}

.red-btn{
    -fx-background-color: red;
}
.red-border{
    -fx-border-color: red;
}
.green-border{
    -fx-border-color: rgb(0, 201, 87);
}

.grey-btn{
    -fx-background-color: grey;
}

.table-view .column-header {
    -fx-border-width: 0 2 2 0;
    -fx-border-color: black, transparent;
    -fx-background-color: white;
}

.table-row-cell {
    -fx-border-color: grey;
    -fx-background-color: white;
    -fx-border-width: 0 0 1 0;
}